/*-------*/
/*MIDDLE*/
/*-----*/
.middle {
  padding           : 10px;
  background-color  : #eee;
  transition        : 1s;
}

.message-panel {
  width             : 100%;
  height            : 0px;
  padding           : 10px;

  color             : white;
  font-size         : 1.5em;
  text-align        : center;
  vertical-align    : center;
  background-color  : #27ae60;

  top               : -10px;
  left              : -10px;
  position          : relative;

  display           : none;
}
.message-panel-content {
  margin-top        : 20px;
}

/*--------------------------*/
/*-----CONTENU CENTRAL-----*/
/*------------------------*/
.middle .icon {
  height        : 100px;
  width         : 100px;
  display       : block;

  margin        : auto;
}

.middle-content {
    width           : 100%;
    margin          : auto;
}
.middle-content .categories {
    width           : 78%;
    padding         : 10px;
    margin          : 25%;
    margin-top      : 10px;
    margin-bottom   : 10px;
    display         : none;
}
.middle-content .categories .square {
    height      : 200px;
    width       : 200px;
    position    : relative;

    cursor      : pointer;
    background  : white;
    opacity     : 0.8;
    display     : inline-block;
    overflow    : hidden;
    transition  : 0.5s;
}
.middle-content .categories .square:hover {
    /*opacity             : 1;*/
    -moz-box-shadow     : 0 0 20px #000000;
    -webkit-box-shadow  : 0 0 20px #000000;
    box-shadow          : 0 0 20px #000000;

    transition          : 0.5s;
}
.middle-content .categories .square .square-bottom-text {
    bottom      : 0;
    position    : absolute;
    display     : block;
    padding     : 10px;

    color       : white;
    font-size   : 1.5em;
    /*text-align  : center;*/

    opacity     : 0.5;
    width       : 100%;
    background-color: black;
}
.square-icon {
    height      : 100px;
    width       : 100px;

    margin      : auto;
    margin-top  : 30px;
    display     : block;
}


.middle-content .categories .square[func='files'] {
    background: #e74c3c;
}
.middle-content .categories .square[func='filesgroups'] {
    background: #c0392b;
}
.middle-content .categories .square[func='users'] {
    background: #3498db;
}
.middle-content .categories .square[func='usersgroups'] {
    background: #2980b9;
}

.categorie-panel {
    top             : -10px;
    left            : -10px;

    width           : 100%;
    height          : 500px;

    padding         : 10px;
    margin-bottom   : -20px;
    margin-top      : 20px;

    overflow        : auto;
    position        : relative;
}
.categorie-panel .title-panel {
    color       : white;
    font-size   : 3em;
    text-align  : center;
    display     : block;
}
.categorie-panel-content {
    /*width: 50%;*/
    margin: auto;
}
#files-panel {
    display     : none;
    background  : #e74c3c;
}
#filesgroups-panel {
    display     : none;
    position    : relative;
    background  : #c0392b;
}
#users-panel {
    display     : none;
    position    : relative;
    background  : #3498db;
}
#usersgroups-panel {
    display     : none;
    position    : relative;
    background  : #2980b9;
}
#users-panel .categorie-panel-content {
    width: 260px;
}

.action-panel {
    height      : 80px;
    width       : 70px;

    margin      : auto;
    margin-top  : 10px;
}
.action-panel .icon-button {
    height      : 70px;
    width       : 70px;

    cursor      : pointer;
    margin      : 5px;

    opacity     : 0.5;
    transition  : 0.5s;
}
.action-panel .icon-button:hover {
    opacity     : 1;
    transition  : 0.5s;
}


/*STYLE POUR LA LISTE DES UTILISATEURS*/
.row {
    color       : white;
    display     : block;
    font-size   : 1.5em;
}
.row .avatar {
    height          : 60px;
    width           : 60px;
    background      : black;
    display         : inline-block;

    overflow        : hidden;
    cursor          : pointer;
    border-style    : solid;
    border-color    : #2980b9;
    border-width    : 0px;
    border-radius   : 60px;

    transition: 0.5s;
}
.row .avatar:hover {
    border-width    : 5px;
    transition      : 0.5s;
}

.row .row-text{
    top             : -20px;
    left            : 20px;
    position        : relative;
    display         : inline-block;
}
.row .icon-button {
    height          : 30px;
    width           : 30px;
    cursor          : pointer;
    display         : inline-block;
    margin-right    : 20px;

    top             : -10px;
    position        : relative;

    opacity: .5;
    transition: 0.5s;
}
.row .icon-button:hover {
    opacity     : 1;
    transition  : 0.5s;
}
.row .user-groupid {
    cursor      : pointer;
    transition  : .5s;
}
.row .user-groupid:hover {
    color       : #e74c3c;
    transition  : .5s;

}
.row .user-name {
    cursor      : pointer;
    transition  : .5s;
}
.row .user-name:hover {
    color       : #e74c3c;
    transition  : .5s;

}

/*STYLE POUR LA LISTE DES GROUPES*/
.group-card {
    height              : 230px;
    width               : 200px;

    color               : white;
    font-size           : 1.5em;
    text-align          : center;

    opacity             : .8;
    cursor              : pointer;
    overflow            : hidden;
    border-radius       : 10px;
    background-color    : #2c3e50;

    margin              : 10px;
    padding             : 20px;
    position            : relative;
    display             : inline-block;

    -moz-box-shadow     : 0 0 5px #000000;
    -webkit-box-shadow  : 0 0 5px #000000;
    box-shadow          : 0 0 5px #000000;

    transition          : .5s;
}
.group-card:hover {
    opacity             : 1;

    -moz-box-shadow     : 0 0 20px #000000;
    -webkit-box-shadow  : 0 0 20px #000000;
    box-shadow          : 0 0 20px #000000;

    transition          : .5s;
}
.group-card-header {
    height      : 40px;
    width       : 100%;
    background  : #e74c3c;

    top         : -20px;
    left        : -20px;
    position    : relative;

    color       : white;
    padding     : 20px;
}
.group-card .group-id {
    display: block;
}
.group-card .group-title {
    display: block;
}
.group-card .text-button {
    cursor      : pointer;
    font-size   : 0.7em;
    margin-right: 10px;

    display     : inline-block;

    left        : 5px;
    position    : relative;
}
.group-card .text-button:hover {
    text-decoration: underline;
}

.icon-button[func="refreshpanel"] {
  height    : 40px;
  width     : 40px;
  cursor    : pointer;

  top       : 10px;
  right     : 60px;
  position  : absolute;

  opacity   : .5;
  transition: .5s;
}
.icon-button[func="refreshpanel"]:hover {
  opacity: 1;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  transition: .5s;
}

/*Barre de séparation*/
hr {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    width       : 170px;
    margin      : 30px;
}

/*STYLE POUR LA LISTE DES FICHIERS*/
#files-panel .files-list {
    background      : #eee;
    overflow        : hidden;

    width           : 800px;
    margin          : auto;
    margin-top      : 50px;

    padding         : 20px;
    border-radius   : 10px;
    display         : none;
    position        : relative;
}
#files-panel .files-list thead {
    width           : 110%;
    padding         : 20px;
    font-size       : 1.4em;

    display         : inline-block;
    border-radius   : 10px;

    top             : -20px;
    left            : -20px;
    position        : relative;
}
#files-panel .files-list tbody {
    width           : 100%;
    padding         : 20px;
    display         : inline-block;

    left            : -20px;
    bottom          : -20px;
    position        : relative;
    background-color: white;
}
#files-panel .files-list th {
    margin-right: 80px;
    display     : inline-block;
}
#files-panel .files-list tr {
    cursor      : pointer;
    position    : relative;
    opacity     : 0;
    transition  : .5s;
}
#files-panel .files-list tr:hover {
    background: #eee;
    transition: .5s;
}
#files-panel .files-list .td-name, .td-group, .td-type, .td-pubdate, .td-owner {
    width   : 148px;
    display : inline-block;
}
#files-panel .files-list .td-path, .td-tags {
    display: none;
}
#files-panel .files-list .td-owner {
    text-align: center;
}
