
/*---------------*/
/*----HEADER----*/
/*-------------*/
.main-ui .header {
  height            : 500px;
  overflow          : hidden;
  background-size   : 100% 100%;
  background        : url("../img/background.jpg") #eee no-repeat;

  transition        : 1s;
}

/*-----------------------*/
/*---- MENU (HEADER)----*/
/*---------------------*/
.main-ui .menu {
  top               : 0;
  right             : 0;
  position          : absolute;

  color             : white;
  margin            : 10px;
}
.main-ui .menu .menu-item {
  font-size         : 1.2em;
  margin-right      : 10px;
  display           : inline-block;

  height            : 40px;
  width             : 40px;

  opacity           : .5;
  cursor            : pointer;
  transition        : 0.5s;
}
.main-ui .menu .menu-item:hover {
  opacity           : 1;
  transition        : 0.5s;
}

.main-ui .menu .menu-item[func='logout'] {
    display         : none;
}

/*-----------------------*/
/*----TITLE (HEADER)----*/
/*---------------------*/
.main-ui .header .title {
  color             : white;
  font-size         : 6em;
  text-align        : center;

  margin-top        : 100px;
  margin-bottom     : -100px;

  cursor            : pointer;
  transition        : .5s;
}
.main-ui .header .title:hover {
    color           : #e74c3c;
    transition      : .5s;
}
.main-ui .header .subtitle {
  color             : white;
  font-size         : 1.6em;
  text-align        : center;

  margin-top        : 100px;
  margin-bottom     : 20px;
}

.header-avatar {
    height      : 200px;
    width       : 200px;

    opacity     : 0.5;
    display     : none;
    overflow    : hidden;
    text-align  : center;

    margin      : auto;
    margin-top  : 50px;
    cursor      : pointer;
    position    : relative;

    transition  : .5s;
}
.header-avatar:hover {
    opacity     : 1;
    transition  : .5s;
}
.header-avatar .header-avatar-img {
    height          : 120px;
    width           : 120px;

    margin          : auto;
    position        : relative;
    overflow        : hidden;
    border-radius   : 80px;
    background      : rgba(37, 32, 32, 0.76);

    border-width    : 2px;
    border-style    : solid;
    border-color    : white;

    transition      : .5s;
}
.header-avatar .header-avatar-img:hover {
    height          : 140px;
    width           : 140px;
    transition      : .5s;
}
.header-avatar .header-avatar-name {
    color           : white;
    font-size       : 2em;
    position        : relative;
    overflow        : hidden;
}
