/* ---------- */
/* INDEX.CSS  */
/* ---------- */

body {
  font-family: quicksandregular;
  background-color: #2c3e50;
}

/*-----------------*/
/*MAIN-UI (CENTER)*/
/*---------------*/
.main-ui {
  top: 20px;
  position: relative;

  width: 60%;
  margin: auto;

  background-color: transparent;
  -webkit-box-shadow: 10px 10px 123px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 123px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 123px 0px rgba(0,0,0,0.75);
}

.icon-button[func="closepanel"] {
  height: 30px;
  width: 30px;
  cursor: pointer;

  top: 10px;
  right: 10px;
  position: absolute;

  opacity: .5;
  transition: 0.5s;
}
.icon-button[func="closepanel"]:hover {
  opacity: 1;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  transition: 0.5s;
}
