<!DOCTYPE html>
<html>
	<head>
		<title>Cloud</title>
		<script src="{{ asset('bundles/cloud/js/main.js')}}"></script>
		<link href="{{ asset('bundles/cloud/css/style.css') }}" rel="stylesheet" />
		<link href="{{ asset('bundles/cloud/css/index.css') }}" rel="stylesheet" />
	</head>

	<body>
		<div class="search-panel">
			<span>search</span>
			<input type="text" name="searchinput"/>
		</div>

		<div class="main-panel">
			<div class="main-title">CLOUD</div>

			<div class="large-square">
				<div id="login-panel">
					<form id="userform" action="/cloud/web/app_dev.php/newuser/" method="post">
						<span class="title">login</span>
						<input type="text" name="login">

						<span class="title">password</span>
						<input type="text" name="password">
						<input type="submit" name="valid" value="login now">
					</form>
				</div>
			</div>

			<div class="medium-square">

			</div>
			<div class="medium-square">

			</div>
		</div>

		{% if users is defined %}
			{{ users.name }}
		{% endif %}
	</body>
</html>
