<!-- FOOTER.HTML.TWIG -->
<div class="bottom">
    <div class="text">
        <span>Development 2014 - 2015 // <a href="https://github.com/rootasjey/cloud">See on GitHub</a> </span><br>
        <span>An Open Source Versailles' University Project by Master students</span> <br>
    </div>
</div>
