<!-- HEADER.HTML.TWIG -->
<div class="header">
    <!-- Menu d'icones -->
    <div class="menu">
        <img class="menu-item" func="login" src="{{ asset('bundles/cloud/icon/internal-icon.png') }}" alt="login" />
        <img class="menu-item" func="logout" src="{{ asset('bundles/cloud/icon/external-icon.png') }}" alt="logout" />
        <img class="menu-item" func="search" src="{{ asset('bundles/cloud/icon/search-icon.png') }}" alt="search" />
    </div>

    <!-- Titre et sous-titre -->
    <div class="title">CLOUD</div>
    <div class="subtitle">A more personal one</div>

    <!-- Avatar & nom de l'utilisateur connecté -->
    <div class="header-avatar">
        <div class="header-avatar-img"></div>
        <div class="header-avatar-name">test</div>
    </div>

    <!-- LOADING ANIMATION -->
    <!-- <span class="loader"><span class="loader-inner"></span></span> -->
</div>
