<!-- HEADER.HTML.TWIG -->
<div class="header">
    <div class="menu">
        <img class="menu-item" func="login" src="{{ asset('bundles/cloud/icon/internal-icon.png') }}" alt="login" />
        <img class="menu-item" func="logout" src="{{ asset('bundles/cloud/icon/external-icon.png') }}" alt="logout" />
        <img class="menu-item" func="search" src="{{ asset('bundles/cloud/icon/search-icon.png') }}" alt="search" />
        <img class="menu-item" func="help" src="{{ asset('bundles/cloud/icon/help-filled.png') }}" alt="help" />
    </div>

    <div class="title">CLOUD</div>
    <div class="subtitle">A more personal one</div>

    <!-- LOADING ANIMATION -->
    <span class="loader"><span class="loader-inner"></span></span>
</div>
