<!-- MESSAGE PANEL -->
<div class="message-panel">
    <!-- Close icon -->
    <img class="icon-button" func="closepanel" src="{{ asset('bundles/cloud/icon/cancel-white-icon.png') }}" alt="cancel" />

    <div class="message-panel-content">
        <!-- Message pane's content goes there -->
    </div>
</div>
