<!-- SEARCH.HTML.TWIG -->
<div class="search-panel">
    <img class="icon-button" func="closepanel" src="{{ asset('bundles/cloud/icon/cancel-white-icon.png') }}" alt="cancel" />
    <form id="searchform" action="/" method="post">
        <div class="form-title">Search files and folders</div>
        <input type="text" name="searchquery">
        <input type="submit" name="valid" value="SEARCH">
    </form>
</div>
