<!-- ADD FILE GROUP FORM -->
<!-- This file will be included in the content.html.twig -->

<form id="addfilegroupform" class="contentform" action="/cloud/web/app_dev.php/addfilegroup/" method="post">
    <!-- ICON -->
    <!-- <img src="{{ asset('bundles/cloud/icon/lock-icon.png') }}" alt="login" class="icon"/> -->

    <!-- TITLE INPUT -->
    <span class="title">title</span>
    <input type="text" name="title" placeholder="group's title">

    <!-- SUBMIT BUTTON -->
    <input type="submit" name="valid" value="ADD GROUP">
</form>
