<!-- ADD USER GROUP FORM -->
<!-- This file will be included in the content.html.twig -->

<form id="addusergroupform" class="contentform" action="/cloud/web/app_dev.php/addusergroup/" method="post">
    <!-- ICON -->
    <!-- <img src="{{ asset('bundles/cloud/icon/lock-icon.png') }}" alt="login" class="icon"/> -->

    <!-- ID (input masqué) -->
    <input type="hidden" name="id" value="">

    <!-- TITLE INPUT -->
    <span class="title">title</span>
    <input type="text" name="title" placeholder="group's title">

    <!-- FILE'S GROUP ACCESS -->
    <span class="title">access</span>
    <select name="access">
        <!-- Sera rempli dynamiquement -->
    </select>

    <!-- SUBMIT BUTTON -->
    <input type="submit" name="valid" value="ADD GROUP">
</form>

<div class="group-access">
    <span class="big-title">ACCESS</span>
    <!-- UI POUR GERER LES DROITS D'ACCES DES UTILISATEURS SUR LES FICHIES -->

    <div class="group-access-binded"> </div>

    <div class="group-access-unbinded"> </div>
</div>
